root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/bin/main ./cmd/kiln/main.go"
include_ext = ["go", "tpl", "tmpl", "html", "js", "css", "docs"]
exclude_dir = ["tmp", "vendor", "node_modules", ".git", "public"]
full_bin = "./tmp/bin/main generate --log 'debug' --input '../talesign.com/talesign.com/' --layout 'simple' && ./tmp/bin/main serve"
delay = 500
stop_on_error = true

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true
